#userRoutines{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* grid-template-columns: 10% 25% 25% 25% 10%; */
    margin-left: 40px;
    margin-right: 40px;
}

#userRoutines .raised.ui.card{
    /* min-height: 500px; */
    height:100%;
    max-height: 500px;
    overflow-y: auto; 

}

.routineCard {
    /* grid-column: 2/4; */
    /* grid-column-end: 4; */
    border: 3px solid black; 
    border-radius: 5px;

    font-size: 0.8rem;
    /* padding: 10px; */
}

.routineCard .routineName {
    /* font-size: 2rem;
    /* text-decoration: underline; */
    /* text-transform: uppercase;
    font-weight: 900; */ 
}

.routineCard button {
    /* float: right; */
    /* display:inline; */
    width: 47%;
    font-size: 1rem;
    /* background-color: ; */
    border: 5px solid var(--dark-bg-color);
    border-radius: 5px;
    margin: 0px 5px 0px 5px; 
}