/* global variables */
:root {
    --main-bg-color: rgb(255, 208, 51);
    --dark-bg-color: rgb(225, 179, 47);
    --bright-bg-color: rgb(255, 215, 100); 
}

@font-face {
    font-family: 'aganregular';
    src: url('agane_55_roman-webfont.woff2') format('woff2'),
         url('agane_55_roman-webfont.woff') format('woff');
    font-weight: normal;    
    font-style: normal;
}


body {
    background-color: var(--main-bg-color);
    font-family: 'aganregular';
}



h2 {
    font-family: 'josefin_sansthin';
    font-weight: bold;
    border: 1px solid black; 
    border-radius: 3px;

    /* margins and padding */
    padding: 5px; 
    width: 50%;
    
    /* text alignment */
    text-align: center;
}

h1{
    margin: 0 auto; 
    text-align: center;
    font-size: 3rem;

}

button {
    /* background-color: var(--main-bg-color);
    border: none; 
    font-size: 1.3rem;
    padding: 10px; */
}

button:focus,
 button:hover{
    outline:none; 
    background-color: var(--bright-bg-color);
    font-weight: 600;
}