.newRoutine__container {
  background-color: #e63946;
}

.newRoutine__muscles {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newRoutine__muscle {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: #e05661;
}

.newRoutine__muscle .muscle__header {
  background-color: white;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  border-radius: 4px 4px 0px 0px;
}

.newRoutine__header {
  text-align: center;
  padding: 5px;
  border: 3px solid black;
  margin: 0px;
}

.newRoutine__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
  margin: auto;
}

.newRoutine__details .newRoutine__name, .newRoutine__details .newRoutine__date, .newRoutine__details .newRoutine__submit, .newRoutine__details .newRoutine__desc {
  height: 2rem;
  font-size: 2rem;
  margin-top: 10px;
  background: #fcbf49;
  border: none;
  border-radius: 10px;
  border-bottom: 5px solid white;
  padding: 5px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.newRoutine__details .newRoutine__name:hover, .newRoutine__details .newRoutine__name:focus, .newRoutine__details .newRoutine__date:hover, .newRoutine__details .newRoutine__date:focus, .newRoutine__details .newRoutine__submit:hover, .newRoutine__details .newRoutine__submit:focus, .newRoutine__details .newRoutine__desc:hover, .newRoutine__details .newRoutine__desc:focus {
  background: white;
  border-bottom: 5px solid #fcbf49;
}

.newRoutine__details .newRoutine__submit {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  font-size: 1.2rem;
}

.newRoutine__details .newRoutine__desc {
  height: 15rem;
  font-size: 1.5rem;
}

#newRoutineFormCard {
  padding: 10px;
}

#newRoutineWorkoutsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  background-color: #eae2b7;
  list-style-type: none;
  min-height: 450px;
  border: 3px solid white;
  border-radius: 10px;
}

#newRoutineWorkoutsList .workout:hover {
  cursor: pointer;
}

#newRoutineWorkoutsList .workout:hover .workout__warning {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  display: block;
  opacity: 100%;
}

#newRoutineWorkoutsList .workout:hover .workout__warning::before {
  color: black;
  z-index: 5;
}

#newRoutineWorkoutsList .workout:hover {
  cursor: pointer;
}

#newRoutineWorkoutsList .workout:hover .workout__warning {
  background: red;
}

#newRoutineWorkoutsList .workout:hover .workout__warning::before {
  content: "Remove from Routine";
}

.muscle__workouts .workout:hover {
  cursor: pointer;
}

.muscle__workouts .workout:hover .workout__warning {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  display: block;
  opacity: 100%;
}

.muscle__workouts .workout:hover .workout__warning::before {
  color: black;
  z-index: 5;
}

.muscle__workouts .workout:hover .workout__warning {
  background: lightblue;
}

.muscle__workouts .workout:hover .workout__warning::before {
  content: "Add To Routine";
}
/*# sourceMappingURL=routineStyles.css.map */