$newRoutineBGC: #e63946;
$newRoutineMuscleBGC : #e05661;

@mixin centerHeader {
    text-align: center; 
    padding: 5px; 
    border: 3px solid black; 
}

.newRoutine__container {
    background-color: $newRoutineBGC;
}

.newRoutine__muscles {
    align-self: flex-end; 

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.newRoutine__muscle {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: $newRoutineMuscleBGC;

    .muscle__header {
        background-color: white;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-radius: 4px 4px 0px 0px;
    }
}

.newRoutine__header {
    @include centerHeader();
    margin: 0px; 
}


@mixin newRoutineDetails(){
    height: 2rem;   
    font-size: 24px;
    margin-top: 10px;
    background: #fcbf49;
    border: none; 
    border-radius: 10px;
    border-bottom: 5px solid white;
    padding: 5px;
    transition: 0.15s; 
    &:hover, &:focus {
        background: white; 
    font-size: 24px;
    border-bottom: 5px solid #fcbf49;
    }
}

.newRoutine__details {
    display: flex; 
    flex-flow: column; 
    width: 50%;
    margin: auto; 

    .newRoutine__name, .newRoutine__date, .newRoutine__submit, .newRoutine__desc { 
        @include newRoutineDetails()
    }
    .newRoutine__submit {
        width: 50%;
        margin: auto; 
        margin-top: 15px;
        font-size: 1.2rem;

        // color 
        // border: 3px solid black;
        // border-radius: 5px;
    }
    .newRoutine__desc { 
        height: 15rem; 
        font-size: 1.5rem;
    }

}

#newRoutineFormCard {
    padding:10px; 
}

@mixin workoutWarning(){
    &:hover{
        cursor: pointer;
        .workout__warning {
            transition: 0.15s;
            display: block;
            // background: red; 
            &::before {
                // content: "Remove";
                color: black;
                z-index: 5;
            }
            opacity: 100%;
        }
    }
}

#newRoutineWorkoutsList {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: wrap; 
    background-color: #eae2b7; 
    list-style-type: none;
    min-height: 450px; 
    border: 3px solid white; 
    border-radius: 10px;

    .workout{
        @include workoutWarning(); 
        &:hover{
            cursor: pointer;
            .workout__warning {
                background: red; 
                &::before {
                    content: "Remove from Routine";
                }
            }
        }
    } 
}


.muscle__workouts {
    .workout {
        @include workoutWarning();
        &:hover {
            .workout__warning {
                background: lightblue;
                &::before {
                    content: "Add To Routine";
                }
            }
        }
    }
}