$newRoutineBGC: #e63946;
$newRoutineMuscleBGC : #e05661;

.newRoutine__container {
    background-color: $newRoutineBGC;
}

.newRoutine__workouts { 
    min-height: 400px;
    transition: 3s;
}

.newRoutine__muscles {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.newRoutine__muscle {
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: $newRoutineMuscleBGC;

    .muscle__header {
        background-color: white;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0px;
        border-radius: 4px 4px 0px 0px;
    }
}

.newRoutine__header {
    text-align: center;
}