$workoutBGColor: #f1faee;
$workoutHighlightColor: #e63946; 
$musclesBGC: #a8dadc; 
$cardWidth: 300px;
$cardHeight: 400px; 

@mixin flexCenter(){
    display: flex; 
    justify-content: center;
    align-items: center;
}

.workout {
    // background-color: $workoutBGColor;
    margin: 10px;
    // padding: 5px; 
    width: $cardWidth;
    transition: 0.15s;
    border: 3px solid black; 
    border-radius: 10px;
    height: $cardHeight;

    // grid 
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    &:hover {
        border-color: $workoutHighlightColor;

        // padding-top: 7px;
        .workout__desc, .workout__difficulty {
            // transition-timing-function: ease;
            padding-bottom: 14px;
            // background-color: $workoutHighlightColor;
            transition: 0.15s;
        }
        .workout__name {
            transition: 0.15s;
            font-size: 1.2rem;
        }
    }
}



.workout__desc, .workout__name, .workout__difficulty {
    transition: 0.15s; 
}
.workout__desc, .workout__difficulty {
    color: #1d3557; 
}
.workout__name {
    margin: 0px;
    width: $cardWidth; 
    background-color: #457b9d;
    color: #f1faee; 
    text-align: center;
}

.workouts {
    list-style-type: none;
}

#newRoutineWorkoutsList {
    @include flexCenter()
    flex-flow: wrap; 
    background-color: #a8dadc; 
    list-style-type: none;
}


// muscle list in workout 
.muscles--workoutCard {
    background-color: $musclesBGC;
    grid-column: 1/11;
    grid-row: 8/11;
}

//workout card grid formatting
.workout__name {
    grid-column: 1/11;
    grid-row: 1/2;
}

.workout__difficulty {
    grid-column: 1/11;
    grid-row: 2/3;
}

.workout__desc {
    grid-column: 1/11;
    grid-row: 3/8;
}

.muscles__name {
    // background-color: purple;
}

.muscle__header {
    font-size: 2rem;
}

.outerDiv {
    transform: rotate(11deg);
    background-color: red;
}