html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

body {
  margin: 20px;
  background: #fcbf49;
}

.workout {
  margin: 10px;
  width: 300px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border: 3px solid black;
  border-radius: 10px;
  height: 400px;
  font-size: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  background: #f77f00;
}

.workout:hover .workout__desc, .workout:hover .workout__difficulty {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.workout:hover .workout__name {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.workout .workout__warning {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 5;
  grid-row: 5;
  text-align: center;
  font-size: 1.5rem;
  z-index: 0;
  opacity: 0%;
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  margin: auto;
}

.workout .workout__warning:active {
  background: blue;
}

.workout .workout__muscles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #f77f00;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7/11;
  border-radius: 0 0 10px 10px;
}

.workout .workout__muscle {
  font-size: 1rem;
  height: 1rem;
  border: 2px solid black;
  border-radius: 10%;
  padding: 3px;
  margin: 3px;
  background: white;
}

.workout .workout__desc, .workout .workout__name, .workout .workout__difficulty {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.workout .workout__name {
  margin: 0px;
  width: 300px;
  background-color: #457b9d;
  background: #f77f00;
  color: #f1faee;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px 10px 0px 0px;
}

.workout__name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.workout__desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
  background: white;
}

.workout__difficulty {
  color: white;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 0px 0px 0px;
  background: #fcbf49;
}

.workout__difficulty .fa-dumbbell {
  color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 5px;
}

.muscle__header {
  text-align: center;
}

.muscle__workouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newWorkout {
  background-color: #457b9d;
}

.newWorkout .newWorkout__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newWorkout .newWorkout__details, .newWorkout .newWorkout__muscles {
  padding: 10px;
  width: 45%;
  margin: 5px;
}

.newWorkout .newWorkout__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newWorkout .newWorkout__details .newWorkout__desc, .newWorkout .newWorkout__details .newWorkout__submit, .newWorkout .newWorkout__details .newWorkout__name {
  background: lightblue;
  height: 2rem;
  width: 100%;
  font-size: 1.5rem;
  border: none;
  border-bottom: 5px solid white;
  border-radius: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.newWorkout .newWorkout__details .newWorkout__desc:hover, .newWorkout .newWorkout__details .newWorkout__desc:focus, .newWorkout .newWorkout__details .newWorkout__submit:hover, .newWorkout .newWorkout__details .newWorkout__submit:focus, .newWorkout .newWorkout__details .newWorkout__name:hover, .newWorkout .newWorkout__details .newWorkout__name:focus {
  background: white;
  border-color: lightblue;
  outline: 0;
}

.newWorkout .newWorkout__details .newWorkout__desc {
  font-size: 24px;
  min-height: 150px;
}

.newWorkout .newWorkout__desc {
  background-color: #f0f3bd;
  border-color: black;
  width: 100%;
  height: 80%;
  margin: auto auto;
}

.newWorkout .newWorkout__header {
  text-align: center;
  padding: 5px;
  border: 3px solid black;
  margin: 0px;
}

.newWorkout .newWorkout__muscles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newWorkout .newWorkout__muscle {
  padding: 5px;
  margin: 5px;
  background-color: grey;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.newWorkout .newWorkout__muscle:hover {
  background: lightgray;
}

.newWorkout .newWorkout__muscle--selected {
  font-size: 1.7rem;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
}

.newWorkout .newWorkout__difficultySelectContainer {
  width: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 10px;
}

.newWorkout .newWorkout__difficultySelectContainer:hover {
  cursor: pointer;
}

.newWorkout .newWorkout__difficultySelectContainer:hover .newWorkout__difficulty__option {
  background: #457b9d;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-align: center;
  margin: 5px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  background: white;
  color: black;
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option:hover {
  color: white;
  background: #457b9d;
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option:hover ~ .newWorkout__difficulty__option {
  background: white;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option:hover .fa-dumbbell {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option .fa-dumbbell {
  font-size: 3rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.newWorkout .newWorkout__difficultySelectContainer .newWorkout__difficulty__option .newWorkout__difficulty__text {
  text-transform: uppercase;
}

.newWorkout .newWorkout__difficultySelectContainer .highlighted {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #457b9d;
}

.newWorkout .newWorkout__difficultySelectContainer .highlighted .newWorkout__difficulty__text {
  border-bottom: 2px solid black;
}

.newWorkout .newWorkout__difficultySelectContainer .beforeHighlighted {
  background: #457b9d;
}

.hidden {
  display: none;
}

nav {
  font-size: 0;
}

nav button {
  margin: 0;
  border: none;
  padding: 10px;
  font-size: 2rem;
}

nav button:focus {
  outline: 0;
}

nav button:hover {
  cursor: pointer;
}

nav .navbar__button--newRoutine {
  background: #e63946;
}

nav .navbar__button--newWorkout {
  background: #457b9d;
  border-radius: 0px 10px 0px 0px;
}

nav .navbar__button--userRoutines {
  background: #3a86ff;
  border-radius: 10px 0px 0px 0px;
}

.header {
  display: none;
}

#userRoutines, #newRoutine__container, .newWorkout {
  border-radius: 0px 10px 10px 10px;
}

.header__main {
  border: 3px solid black;
  border-radius: 10px;
  background: white;
  font-style: italic;
  font-weight: bold;
  font-size: 3rem;
  padding: 5px;
  width: 20%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */