$workoutBGColor: #f1faee;
$workoutHighlightColor: #e63946; 
$musclesBGC: #a8dadc; 
$cardWidth: 200px;
$cardHeight: 300px; 



@mixin flexCenter(){
    display: flex; 
    justify-content: center;
    align-items: center;
}

@mixin centerHeader {
    text-align: center; 
    padding: 5px; 
    border: 3px solid black; 
}


html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.workout {
    // background-color: $workoutBGColor;
    margin: 10px;
    // padding: 5px; 
    width: $cardWidth;
    transition: 0.15s;
    border: 3px solid black; 
    border-radius: 10px;
    height: $cardHeight;
    font-size: 1rem;
    // grid 
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    
    &:hover {
        border-color: $workoutHighlightColor;

        // padding-top: 7px;
        .workout__desc, .workout__difficulty {
            // transition-timing-function: ease;
            padding-bottom: 14px;
            // background-color: $workoutHighlightColor;
            transition: 0.15s;
        }
        .workout__name {
            transition: 0.15s;
            font-size: 1.2rem;
        }
    }
}



.workout__desc, .workout__name, .workout__difficulty {
    transition: 0.15s; 
}
.workout__desc, .workout__difficulty {
    color: #1d3557; 
}
.workout__name {
    margin: 0px;
    width: $cardWidth; 
    background-color: #457b9d;
    color: #f1faee; 
    text-align: center;
}

.workouts {
    list-style-type: none;
}

#newRoutineWorkoutsList {
    @include flexCenter()
    flex-flow: wrap; 
    background-color: #a8dadc; 
    list-style-type: none;
}


// muscle list in workout 
.muscles--workoutCard {
    background-color: $musclesBGC;
    grid-column: 1/11;
    grid-row: 8/11;
}

//workout card grid formatting
.workout__name {
    grid-column: 1/11;
    grid-row: 1/2;
}

.workout__difficulty {
    grid-column: 1/11;
    grid-row: 2/3;
    .fa-dumbbell {
        transform: rotate(-45deg)
    }
}

.workout__desc {
    grid-column: 1/11;
    grid-row: 3/8;
}

.muscles__name {
    // background-color: purple;
}

.muscle__header {
    text-align: center;
}


.muscle__workouts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



$newWorkoutBGC: #457b9d;
.newWorkout {
    background-color: $newWorkoutBGC;
}
.newWorkout__card {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
}

.newWorkout__details, .newWorkout__muscles { 
    padding: 10px; 
    width: 45%;
    margin: 5px; 
    // border for testing 
    border: 1px solid black;
}

.newWorkout__details {
    display: flex;
    flex-flow: column; 
    justify-content: space-between;
}

.newWorkout__desc {
    background-color: #f0f3bd;
    border-color: black;
    width: 90%;
    height: 80%;
    margin: auto auto;
}

.newWorkout__submit {
}

.newWorkout__header { 
    @include centerHeader()
}

.newWorkout__muscles {
    display: flex; 
    flex-flow: row wrap;
    font-size: 1.5rem;
    input{ 
        height: 2rem;
    }
}

.newWorkout__muscle {
    padding: 5px; 
    margin: 5px; 
    background-color: grey; 
    border-radius: 10px; 
}
.newWorkout__muscle--selected {
    background-color: white; 
}


.hidden { 
    display: none; 
}