@mixin centerHeader {
    text-align: center; 
    padding: 5px; 
    border: 3px solid black; 
}
$userRoutinesBGC: #3a86ff;
$userRoutineBGC: #e9c46a;
$userRoutineDeleteC: #e76f51;

.userRoutines {
    background-color: $userRoutinesBGC;
    .userRoutines__container {
        display: flex; 
        flex-flow: row wrap;
    }
    margin: auto; 
}

.userRoutine {
    border: 3px solid black;
    margin: 10px; 
    flex: 1 45%;
    background-color: $userRoutineBGC;
}

.userRoutine__details {
    background-color: white;
    text-align: center;

    .userRoutine__name {
        text-align: center;
        border-bottom: 3px solid black;
        width: 40%;
        margin: auto auto;
        text-transform: capitalize;
    }
    .userRoutine__desc {
    }
}

.userRoutine__button {
    // center
    margin: 10px;
    width: 40%;
    min-height: 2rem;
    // max-height: 2rem;
    font-size: 1.2rem;

    // color 
    border: 3px solid black;
    border-radius: 5px;
}

.userRoutine__button--copy {
    background-color:$userRoutinesBGC;
    &:hover{
        background-color: white;
    }
}

.userRoutine__button--delete {
    background-color:$userRoutineDeleteC;
    &:hover{
        background-color: red;
        color: white;
    }
}

.userRoutine__date {
    text-align: center;
    margin: auto auto;
    font-size: 0.8rem;
}

.userRoutine__workouts {
    display: flex; 
    flex-flow: row wrap; 
    align-items: center;

    .workout {
        flex-shrink: 5; 
    }
}

.userRoutines__header {
    @include centerHeader();
    margin: 0px;
}